**/node_modules
**/.git
**/.gitignore
artifacts/api-server/dist
artifacts/mobile/assets
artifacts/mobile/static-build
artifacts/mobile/.metro-cache
artifacts/mobile/.expo
artifacts/mobile/android
artifacts/mobile/ios
artifacts/mockup-sandbox/src
artifacts/mockup-sandbox/public
lib/api-client-react/src
lib/api-client-react/dist
lib/api-spec/node_modules
lib/db/src
lib/db/dist
scripts/src
.local
.replit
*.md
